.home {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 1000px;
    background: rgb(209,245,253);
    background: linear-gradient(180deg, rgba(209,245,253,1) 0%, rgba(246,248,250,1) 100%);
}

.main {
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1000px;
}

.container {
    position: fixed;
    display: flex;
    flex-direction: column;
    margin: 11.146vw 0px 11.406vw 65px;
    width: 65.573vw;
}

.dashboard-title {
    position: relative;
    display: flex;
    flex-direction: column;
    font: 700 4vw/1 "Helvetica Neue", Helvetica, Arial, serif;
    margin: 4px 0px 0px 0px;
}

