body {
    font-size: 100%;
    background: #F6F8FA;
}

.page-container {
    margin: 13.438vw 8.854vw 89.427vw 8.854vw;
}

.edit-container {
    position: relative;
    height: 1389px;
    background-color: rgb(255, 255, 255);
    border-radius: 60px 60px 60px 60px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.247);
    padding: 80px 74px 0px 74px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.edit-flex_col {
    margin: 0px 0px 74px 0px;
    position: relative;
    flex-direction: column;
    gap: 60px 0px;
}

.method-img {
    position: relative;
    right: 30px;
}

.edit-text-header{
    position: relative;
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 2px;
    font: 700 80px / 1 "Helvetica Neue", Helvetica, Arial, serif;
    left: 15px;

}

.edit-text {
    position: relative;
    display: flex;
    align-items: center;
    width: 24.115vw;
    font: 300 80px / 1 "Helvetica Neue", Helvetica, Arial, serif;
}

.box-container{

}

.topic-box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 47.969vw;
    justify-content: space-between;
    height: 72px;
    background-color: rgb(217, 217, 217);
    border-radius: 12px 12px 12px 12px;
    outline: 1px solid rgb(200, 200, 200);
    padding: 10px;
}

.edit-topic_row {
    position: relative;
    flex-direction: row;
    display: flex;
    height: 73px;
}

.edit-program_row {
}

.edit-description_row {
}

.edit-target_row {
}

.edit-deadline_row {
}

.edit-image_row {
}

.edit-text {
    position: relative;
    display: flex;
    font: 300 40px / 1 "Helvetica Neue", Helvetica, Arial, serif;
    letter-spacing: 1.2px;
}
